.container[b-5ku4q8u8zk]{
    display: flex;
    flex-direction:row;
    overflow-x:auto;
    justify-content:center;
}
.img[b-5ku4q8u8zk]{
    max-width:200px;
    max-height:200px;
    border-radius:6px;
    transition:transform .2s;
    margin-bottom: 10px;
}
img:hover[b-5ku4q8u8zk]{
    transform:scale(1.1) rotate(5deg);
}
.featured-product[b-5ku4q8u8zk]{
    margin:10px;
    text-align:center;
    padding:10px;
    border:1px solid lightgrey;
    border-radius:10px;
    max-width:200px;
}
@media (max-width:1023.98px) {
    .container[b-5ku4q8u8zk]{
        justify-content:flex-start;
    }
}
.image[b-5ku4q8u8zk] {
    max-height: 150px;
    max-width: 150px;
}
