.media-img[b-k11xe30hnn]{
    max-height: 200px;
    max-width:200px;
    border-radius:6px;
    margin-bottom:10px;
    transition: transform .2s;
}

    .media-img:hover[b-k11xe30hnn]{
        transform:scale(1:1);
    }
.media-img-wrapper[b-k11xe30hnn]{
    width:200px;
    text-align:center;
}
.price[b-k11xe30hnn]{
    color:green;
}
@media (max-width:1023.98px){
    .media[b-k11xe30hnn]{
        flex-direction:column;
    }

    .media-img-wrapper[b-k11xe30hnn]{
        width:100%;
        height:auto;
    }
}