.show-menu[b-kkrpi6a42b] {
    display: block;
}

.user-button[b-kkrpi6a42b] {
    margin-left: .5em;
}
.top-row a[b-kkrpi6a42b] {
    margin-left: 0;
}
.dropdown-item:hover[b-kkrpi6a42b]{
    background-color:white;
}