.container[b-ny0r1k6jl0]{
    display:flex;
    padding:6px;
    border:1px solid;
    border-color:lightgrey;
    border-radius:6px;
    margin-bottom:6px;

}
.image-wrapper[b-ny0r1k6jl0]{
    width:150px;
    text-align:center;

}
.image[b-ny0r1k6jl0]{
    max-height:150px;
    max-width:150px;
    padding:6px;
}
.details[b-ny0r1k6jl0]{
    flex-grow:1;
    padding:6px;
}
.order-price[b-ny0r1k6jl0]{
    font-weight:600;
    font-size:1.2em;
    text-align:right;
}
