.media-img[b-g4laendlak]{
    max-height: 150px;
    max-width:150px;
    border-radius:6px;
    margin:10px 10px 10px 10px;

}
.media-img-wrapper[b-g4laendlak] {
    max-height: 200px;
    max-width: 200px;
    text-align:center;
}
@media (max-width:500.98px){
    .media-img[b-g4laendlak]{
        max-width:300px;
    }
    .media-img-wrapper[b-g4laendlak]{
        widows:100%;
        height:auto;
    }
}
